<h1>Burndown</h1>
<p>Create a burndown chart before your burnout.</p>

<% if current_user %>
  <hr>
  <div class="le-hook"></div>
<% end %>

<!-- Templates -->
<script type="text/template" id="tmpl_repo">
  <div class="form-inline">
    <input type="text" class="input-large" placeholder="github 'user/repo'">
    <button id="fetch" type="submit" class="btn">Fetch</button>
  </div>

  <div>
    <ul class="milestones">
    {{ _.each(milestones, function (milestone, i) { }}
        <li><a href="#milestone/{{=i}}">{{=milestone.get('title')}}</a></li>
    {{ }); }}
    </ul>
  </div>
</script>

<script type="text/template" id="tmpl_milestone">
  <a href="#">Back</a>
  <h2>Milestone</h2>
  <div>{{=milestone.get('title')}}</div>
  <div>{{=milestone.get('id')}}</div>
</script>
