<h1>Rails Github Skeleton</h1>
<p>Aliquam pellentesque est eget nisl vehicula a iaculis lectus aliquet. In hac habitasse platea dictumst. Duis id sapien elit, at sodales nisi. Aliquam erat volutpat. Duis suscipit feugiat enim nec fringilla. Suspendisse in risus eu dui bibendum vehicula. Aenean vulputate tristique tincidunt. Sed consequat turpis nec mi feugiat ultricies. Morbi lobortis, nisl sed pellentesque bibendum, elit mi hendrerit sapien, malesuada dignissim sem libero non diam. Nullam a nunc eu ligula suscipit egestas.</p>
