<h1>Burndown</h1>
<p>Burndown before you burnout.</p>

<% if current_user %>
  <hr>
  <div class="le-hook"></div>
<% end %>

<!-- Templates -->
<script type="text/template" id="tmpl_repo">
  <div class="form-inline">
    <input type="text" class="input-large" placeholder="github 'user/repo'">
    <button id="fetch" type="submit" class="btn">Fetch</button>
  </div>

  <div>
    <ul class="milestones">
    {{ _.each(milestones, function (milestone, i) { }}
      <li><a href="#milestone/{{=i}}">{{=milestone.get('title')}}</a></li>
    {{ }); }}
    </ul>
  </div>
</script>

<script type="text/template" id="tmpl_milestone">
  <a href="#">Back</a>
  <h2>Milestone</h2>
  <div>{{=milestone.get('title')}}</div>
  <div>{{=milestone.get('number')}}</div>
  <div id="chart_container">
      <div id="chart"></div>
      <div id="legend_container">
          <div id="smoother" title="Smoothing"></div>
          <div id="legend"></div>
      </div>
      <div id="slider"></div>
  </div>
  <h3>Open Issues [{{=milestone.get('open_issues')}}]</h3>
  <div class="open"></div>
  <h3>Closed Issues [{{=milestone.get('closed_issues')}}]</h3>
  <div class="closed"></div>
</script>

<script type="text/template" id="tmpl_issues">
  <ul>
  {{ _.each(issues, function (issue, i) { }}
    <li>{{=issue.get('title')}}</li>
  {{ }); }}
  </ul>
</script>

<script type="text/template" id="tmpl_loading">
  <div>Loading...</div>
</script>
